streamlit==1.25.0
numpy==1.23.5
pandas==1.5.3
transformers==4.26.1
torch==1.13.1
spacy==3.4.4
thinc==8.0.17
Cython==0.29.32
PyYAML==6.0
trafilatura==1.5.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
requests==2.31.0
plotly==5.13.1
nltk==3.8.1
